header {
    background: color linear-gradient(#ffffff);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0.8rem;
}
.font-text{
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a{
    font-size: 20px;
    padding: 20px;
    color: rgb(0, 0, 75);
    text-decoration: none;
}
.navbar {
width: 100%; height: 70px;
}
.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  color: #23155B;
  background-color:#ffffff;
  margin:60px 430px 0px 0px;
}
.navbar-menu li {
 display: inline-block;
}
.navbar-menu li a {
    display: inline-block;
   }
.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}
.navbar-brand {
   color:#23155B;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  margin:55px 0px 0px 240px;
}
.ButtonJoinNow {
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  text-align:center;
  color:rgba(255, 255, 255, 1);
  background-color: #8053FF;
  position: absolute;
  border-radius:15px;
  min-width:121px;
  min-height:40px;
  margin:79px 0px 0px 450px;
  padding:9px;  
}
.navbar-logo {
    max-width:100px;
    max-height:100px;
    margin:57px 0px 0px 160px;
    padding-right:200px;
    position: absolute;
}
.header {
  background-color:rgba(243, 240, 240, 0.774);
  min-height:596px;
  min-width:1000px;
  max-width:1490px;
  max-height:1020px;
  background-size: cover;
  background-repeat:no-repeat;
  margin-top:100px;
  text-align: center;
  align-content: center;
  margin-left:170px;
}
.header-buttons{
  font-size: 19px;
  font-weight: 700;
  text-align:center;
  border-radius:15px;
}
.header__button--Funding {
    line-height: 43px;
    color:rgba(255, 255, 255, 1);
    background-color: #8053FF;
    min-width:130px;
    min-height:50px;
    border:none;
    padding:14px;
    margin-left:157px;
}
.header__button--Investor {
    line-height: 50px;
    color:#8053FF;
    background-color: #ffffff;
    min-width:121px;
    min-height:40px;
    border-color:#8053FF;
    padding:9px;
    margin: 0px 170px 0px 20px;
}
.header-titles{
  color:#23155B;
  line-height: 40px;
}
.header__title {
    font-size: 55px;
    font-weight: 700;
    text-align: left;
    margin: 55px 0px 0px 520px;
}
.header__title--subtitle {
    font-size: 18px;
    font-weight: 30px;
    text-align: left;
    margin: 55px 0px 15px 465px;
}
  .header__pipeline {
    display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 18px;
      font-weight: 30px;
      text-align:center;
      margin-bottom:50px;
      position: relative;
      top: 67px;
  }
  .header__bottom {
    position: relative;
    display: grid;
    align-items: center;
  width: 1580px; height: 144px;
  margin:300px 0px 60px 130px;
  }
  .dividers{
    opacity:0.2;
      width:480px; height:2px;
      display: flex;
    background-color: rgba(167, 167, 167, 0.986)
  }
 .header__divider-right {
  margin:0px 0px 30px 175px;
  }
  .header__divider-left {
    margin:40px 0px 0px 900px;
  }
.Small-table-page {
  width:1580px; height:948px;
}
.Small-table-page-title {
    display: inline-table;
    color:#23155B;
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
    text-align:left;
    margin-left:360px;
    padding:10px;
    letter-spacing: 0.02em;
    width:600px; height: 256px;
    padding-top: 60px;
}
span {
  color:#8053FF;
}
.col {
  color:#8053FF;
  padding-right:10px;
}
.Small__Table-rows {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    border-radius: 8px 0px 0px 0px;
    color:#23155B;
    float:right;
    border-color: #ffffff;
    width:580px; height:100px; 
}
.row {
  color:#23155B;
  display: flex;
  justify-content: left;
  box-shadow: 0px 10px 4px 1px rgba(0, 0, 0, 0.05), 1px 14px 4px -2px rgba(0, 0, 0, 0.05);
  padding: 30px 0px 35px 30px;
    font-size: 20px;
    font-weight: 20px;
    line-height: 30px;
    border-radius:15px;
}
.header__Image {
  display: flex;
  justify-content: center;
}
.btext {
  color:#23155B;
    font-size: 18px;
    font-weight: 30px;
    line-height: 40px;
}
.va_row {
  color: #727272;
    position: relative;
    left: 290px;
}
.comment {
  color: #b0b0bd;
  font-size: 17px;
    font-weight: 20px;
    line-height: 30px;
    border-radius:15px;
    justify-content: left;
  position: relative;
  top: 30px;
  right: 87px;
}
.Big__table-button-big-purple {
  font-size: 19px;
  font-weight: 700;
  line-height: 43px;
  text-align:center;
  color:rgba(255, 255, 255, 1);
  background-color: #8053FF;
  border-radius:15px;
  min-width:260px;
  min-height:50px;
  border:none;
  padding:14px;
  margin-left:290px;
  position: relative;
  bottom: 470px;
}
.Big__table-button-big-white {
  font-size: 19px;
  font-weight: 900;
  line-height: 50px;
  text-align:center;
  color:#8053FF;
  background-color: #ffffff;
  border-radius:15px;
  min-width:260px;
  min-height:40px;
  border-color:#8053FF;
  padding:9px;
  margin:0px 170px 0px 12px;
  position: relative;
  bottom: 470px;
}
.inscription__small{
  color: #8053FF;
  font-size: 17px;
  margin-left: 310px;
  position: relative;
  top:66px;
}
.Big__table-title {
  margin-left: 310px; 
  color: #23155B;
  font-size: 40px;
  position: relative;
  top: 43px;
}
.pre {
  color:  #23155B;
  font-size: 18px;
  margin-left: 310px;
  position: relative;
  top: 27px;
}
.big-table-row{
  color: #727272;
  box-shadow: 0px 10px 4px 1px rgba(0, 0, 0, 0.05), 1px 14px 4px -2px rgba(0, 0, 0, 0.05);
  padding: 30px 0px 35px 30px;
    font-size: 20px;
    font-weight: 20px;
    line-height: 30px;
    border-radius:15px;
    justify-content: left;
   width: 600px;
    gap: 10px;
}
.va_row1 {
    position: relative;
    left: 965px;
    bottom: 655px;
}
.va_row2 {
    position: relative;
    left: 965px;
    bottom: 645px;
}
.va_row3 {
    position: relative;
    left: 965px;
    bottom: 635px;
}
.va_row4 {
    position: relative;
    left: 965px;
    bottom: 625px;
}
.galka {
 position: relative;
 top: 5px;
 right: 5px;
 height:25px;
}
.information__page-title {
  color: #23155B;
  font-size: 40px;
  position: relative;
  left: 620px;
  bottom:430px;
  max-width: max-content;
}
.information-page-subtitle {
  color: #23155B;
  position: relative;
  margin-left: 620px;
  bottom: 400px;
}
.information__page-image {
  position: relative;
  right: 30px;
}
.information__page-logo {
  position: relative;
  bottom: 400px;
  left: 150px;
  height:160px;
  width:160px;
}
.info-page-dividers{
  opacity:0.2;
  width: 320px; 
height:2px;
display: flex;
flex-direction: column;
justify-content: flex-end;
background-color: rgba(167, 167, 167, 0.986);
}
.information__page-dividerleft {
  position: relative;
  bottom: 18px;
    margin-left: 1185px;
}
.information__page-dividerright {
  position: relative;
 bottom: 20px;
  margin-left: 360px;
}
.information__page-row {
  color:#23155B;
  font-size: 18px;
  font-weight: 30px;
  line-height: 40px;
  text-align:center;
  margin-bottom:50px;
  position: relative;
  top: 53px;
  right: 10px;
}
.information__page-Image {
  position: relative;
 margin-left: 370px;
opacity: 0.5;
}
.inscription--small {
  color: #8053FF;
  font-size: 17px;
  margin-left: 310px;
  position: relative;
  top:66px;
}
.Middle__table-subtitle {
  margin-left: 310px; 
  color: #23155B;
  font-size: 40px;
  position: relative;
  top: 43px;
}
.Ah_row {
  color: #727272;
  box-shadow: 0px 10px 4px 1px rgba(0, 0, 0, 0.05), 1px 14px 4px -2px rgba(0, 0, 0, 0.05);
  padding: 30px 0px 35px 30px;
    font-size: 13px;
    font-weight: 20px;
    line-height: 30px;
    border-radius:15px;
    justify-content: left;
   width: 615px;
    gap: 10px;
    position: relative;
    left: 290px;
}
.Middle__table-button-big-purple {
  font-size: 19px;
  font-weight: 700;
  line-height: 43px;
  text-align:center;
  color:rgba(255, 255, 255, 1);
  background-color: #8053FF;
  border-radius:15px;
  min-width:260px;
  min-height:50px;
  border:none;
  padding:14px;
  margin-left:290px;
  position: relative;
  bottom: 280px;
}
.middle-row{
  color: #727272;
  box-shadow: 0px 10px 4px 1px rgba(0, 0, 0, 0.05), 1px 14px 4px -2px rgba(0, 0, 0, 0.05);
  padding: 30px 0px 35px 30px;
    font-size: 20px;
    font-weight: 20px;
    line-height: 30px;
    border-radius:15px;
    justify-content: left;
   width: 615px;
    gap: 10px;
}
.Ah_row1{
    position: relative;
    left: 956px;
    bottom: 314px;
}
.Ah_row2{
    position: relative;
    left: 956px;
    bottom: 315px;
}
.Ah_row3{
    position: relative;
    left: 956px;
    bottom: 305px;
}
.Ah_row4{
    position: relative;
   top: 10px;
   left: 290px;
}
.footer {
  width:1925px;
  height:935px;
  max-width: 1925px;
  max-height: 935px;
  background-color: #23155B;
  border-top-left-radius:350px;
  margin:0px;
  position:relative;
  top:160px;
  right:30px;
}
.footer-title {
  color:#ffffff;
  font-size: 50px;
  font-weight: 30px;
  line-height: 40px;
 bottom: 35px;
 position: relative;
 margin-left: 400px;
}
.footer-subtitle {
 color: #ffffff;
 opacity:0.8;
 font-size:18px;
 margin-left: 400px;
 position: relative;
 bottom: 70px;
}
.Send_button {
  font-size: 18px;
  line-height: 43px;
  text-align:center;
  color:rgba(255, 255, 255, 1);
  background-color: #8053FF;
  border-radius:10px;
  min-width:260px;
  min-height:50px;
  border:none;
  position: relative;
  right: 1015px;
  top: 55px;
}
.footer-text{
  color: #ffffff;
 opacity:0.8;
 font-size:14px;
 max-width: max-content;
}
.text-project {
 margin-left: 405px;
 position: relative;
 bottom: 22px;
}
.text-review{
  position: relative;
  left: 405px;
  top: 50px;
}
.text-email {
  position: relative;
  left: 775px;
  bottom: 85px;
}
.text-telegram {
  position: relative;
  left: 775px;
  bottom: 11px;
}
.footer-input{
  width:340px;
  height: 42px;
  border-radius:10px;
}
.input-project {
  position: relative;
  left: 395px;
  bottom: 130px;
}
.input-review {
  position: relative;
  left: 43px;
  bottom: 30px;
}
.input-email {
  position: relative;
  left: 60px;
  bottom: 130px;
}
.input-telegram {
  position: relative;
  right: 290px;
  bottom: 30px;
}
.Mailto {
  color: rgba(212, 205, 239, 1);
  position: relative;
  left: 1160px;
  top: 60px;
}
.jointelegram {
  color: rgba(212, 205, 239, 1);
  position: relative;
  left: 1145px;
  top: 60px;
}
.footer-row{
  color:#8053FF;
  padding-right:10px;
  margin-left: 400px;
  font-size: 65px;
}
.footer-subject {
  color:#ffffff;
  font-size: 50px;
  font-weight: 30px;
  line-height: 40px;
 bottom: 55px;
 position: relative;
 margin-left: 400px;
}
.facebook {
  position: relative;
  top:65px;
  right: 310px;
}
.twitter{
  position: relative;
  top:65px;
  right: 300px;
}
.Telegram{
  position: relative;
  top:65px;
  right: 290px;
}
.github{
  position: relative;
  top:65px;
  right: 280px;
}
